.image-preview-container {
    width: 8rem; 
    height: 8rem; 
    margin-top: 0.7rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 2px solid #466874; 
    border-radius: 0.25rem;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}